/* Body - grey background */
body {
  background-color: gainsboro;
  background-size:100% 100%;
}

/* Main container - transparent */
main {
    background-color: transparent;
}

/* Figure container - full width */
figure {
    width:100%;
}

/* Headers - colour and font */
.header-display {
    display: inline;
    text-align: center;
    background-color: #009999;
    color:white;
    font-family: 'Noto Serif', serif;
}

h2 {
    display: inline;
    background-color: white;
    color:#009999;
    font-family: 'Noto Serif', serif;
    padding: 10px;
}

h3 {
    margin-top: 14px;
    height: 40px;
}

/* Navbar */
.navbar-joe {
    display: inline;
    text-align: center;
    background-color:white;
    color:grey;
    font-family: 'Open Sans', sans-serif;
}

.nav-link-joe {
  color: grey;
  font-size: 17px;
}

/* Vertical line for separating nav links */
.vertical-line {
    border-left: 1px solid grey;
    height: 30px;
    margin: 5px 1px;
}

/* Margins*/
.mt4 {
  margin-top: 4px;
}

.mt10 {
    margin-top: -10px;
}

.mb70 {
    margin-bottom: 70px;
}

/* Width styling */
.w100{
  width:100%;
}

.w30{
  width:100%;
}

.w16{
  width:100%;
}

.w12{
  width:100%;
}

/* Height styling */
.h250 {
    height: 250px;
}

/* Specific styling on index.html */
.index-cols {
    margin: 20px 20px 100px 20px; 
    background-color: white; 
    padding: 20px;
}

.index-image {
    padding-left:10px; 
    margin: 0px 20px 10px 0px; 
    float: left; 
    display:inline;
}

.index-text {
    font-family: 'Open Sans', sans-serif; 
    color:grey; 
    line-height: 30px; 
    padding: 20px; 
    margin-top: -25px;
}

/* Specific styling on experience.html */
.experience-cols {
    margin: 20px;
    background-color: white;
    padding: 20px;
}

.experience-figure {
    text-align: center;
    margin: 10px 0px 20px;
    float: left;
    position:relative;
    color: white;
}

.figure-text {
    font-family: 'Open Sans', sans-serif;
    background: #009999;
    height:40px;
    width:100%;
    padding-top: 8px;
    position: absolute;
    bottom: 30px;
    left: 0px;
}

/* Specific styling on contact.html */
.contact-cols {
    margin: 20px;
    background-color: white;
    padding:20px;
}

/* Footer styling */
.footer-main {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
}

.footer-line {
    height:7px;
    background-color: #009999;
    margin-bottom: 20px;
}

.footer-text {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
}

/* Media queries */
@media (min-width: 0px) and (max-width: 767px) {
    .disappear-md {
      display: none;
    }
  }

  @media (min-width: 768px) and (max-width: 2000px) {
    .disappear-lg {
      display: none;
    }
  }

  @media (max-width: 767px) {
    .navbar {
      flex: 100%;
      max-width: 100%;
      text-align: center;
      float: none;
    }
  }

  @media (min-width: 768px) and (max-width: 2000px) {
    .navbar {
      float: right !important;
    }
  }

  @media (min-width: 0px) and (max-width: 767px) {
    .index-image {
      width: 98%;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .index-image {
      width: 350px;
    }
  }

  @media (min-width: 992px) and (max-width: 2000px) {
    .index-image {
      width: 225px;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .md-95 {
      max-width: 95%;
    }
  }